/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*general */
body {
    
    font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: #fafafa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}

main {
    display: flex;
    padding: 4rem 16rem;
    display: flex;
    justify-content: center;
}

.app-img-container {
    display: flex;
    padding: 0 4rem;
}

.app-img-front-container {
    position: relative;
    width: 465px;
    height: 635px;
    background-image: url("/images/mobile_background_img.png");
    background-size: 468px 634px;
    background-repeat: no-repeat;
}

.app-img-front-container .app-img-1{ 
    position: absolute;
    right: 55px;
    top:25px; 
}

.login-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: solid 0.1rem rgba(219,219,219);
    padding-bottom: 1rem;
    
}

.login-input-container .instagram-slogan {
     padding: 2rem
}

.login-input-container input {
    display: block;
    padding: 9px 0 7px 8px;
    width: 80%;
    margin: 0.2rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fafafa;
    border-radius: 0.2rem;
    border: 0.1rem solid rgba(219,219,219);
}

.login-input-container svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    fill: rgb(126, 147, 167);
    margin-top: 0.5px;
    position: absolute;
    top: 0px; 
    left: 0px; 
}

.login-input-container button {
    width: 80%;
    padding: 9px 0 7px 8px;
    margin: 0.2rem 1rem;
    border: none;
    color: #385185;
    background-color: #fff;;
}

.login-input-container .login-button {
    padding: 9px 0 7px 8px;
    background-color: rgba(0,149,246,.3);
    opacity: 1;
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    font-weight: bold;
}

.login-input-container .facebook-img {
    width: 1rem;
    align-content: center;
    padding-right: 0.1rem;
    transform: translateY(+15%);
  }

  .login-input-container .or-separator {
    width: 15rem;
    color: #b9b9b94d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 40px 18px;
  }

  .login-input-container .line-separator {
    margin: 0 1rem 0 0;
    height: 1px;
    width: 5rem;
    background: #b9b9b94d;
  }
  
  .login-input-container span {
       margin: 0 1rem 0 0;
       color: #8e8e8e;
       font-size: 13px;
       font-weight: 600;

  }

  .login-input-container .login-facebook-container a {
    width: 80%;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #385185;
}

.login-input-container .forgotten-password-link  {
    width: 80%;
    padding-top: 14px;
    color: #385185;
    font-size: 12px;
    text-align: center;
}


.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: solid 0.1rem rgba(219,219,219);
    padding: 15px;
    margin-top: 1rem;
}

.signup-container a{
    text-decoration: none;
    color: #0095f6;
}

.get-the-app-container {
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-top: 1.5rem;
}

.appstore-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
    margin: 1rem;
}

.get-the-app-container span{
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    margin: 15px;
}

.appstore-container img{
    height: 40px;
    margin: 0.2rem 0.3rem;
}

footer {
    margin-top: auto;
    margin-bottom: 2rem;
}

.navigation-container  {
    color: #8e8e8e;
    display: flex;

    flex-direction: column;
    justify-content: end;
    margin: 0 3rem;
    padding-left: 16px;
    padding-right: 16px;
    bottom: 0;
}

.navigation-container ul {
    
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: stretch;
}

.navigation-container li {
    font-size: 12px;
    margin: 0.3rem 0.5rem;
}

.navigation-container li a{
    color:#8e8e8e;
}

.navigation-container select {
    font-size: 12px;
    border: none;
    color: #8e8e8e;
    background-color: transparent;
}

.navigation-bar3-container {
    margin-top: 1rem;
}















 